table {
    border-collapse: collapse;
    border: 5px solid #751c3e;
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #ebecf9;
    width: 50%;
}

.table-charges-transactions {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}


.table-transactions-incomes {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead {
    height: 50px;
}

thead,
tfoot {
    background-color: #751c3e;
    color: #dbe2ff;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}


tfoot th {
    text-align: right;
}

tfoot tr,td {
    font-weight: bold;
}

.transactions-tables-container {
    display: flex; /* Alinha os elementos lado a lado */
    justify-content: center;
    /*flex-wrap: wrap; !* Caso as tabelas não caibam na tela, elas irão quebrar de linha *!*/
    /*margin: 20px;*/
}

.transactions-columns-div {
    justify-content: center;
    display: flex;

    margin: 10px; /* Ajusta o espaçamento ao redor de cada tabela */
    flex: 1; /* Faz com que as tabelas dividam igualmente o espaço disponível */
    /*min-width: 1500px; !* Define um tamanho mínimo para as tabelas *!*/
}

.charge-transaction-row .transaction-value-column {
    color: red;
    font-weight: bold;
}
.income-transaction-row .transaction-value-column {
    color: darkgreen;
    font-weight: bold;
}
